HalloWCF.Host/HalloWCF.ProxyClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HalloWCF.Host" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetFive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFive" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="IService1_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPizza_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPizza" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPizza_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPizzaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneDrink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDrink" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneDrink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDrinkResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetFive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFive" message="tns:IService1_GetFive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFiveResponse" message="tns:IService1_GetFive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sum" message="tns:IService1_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumResponse" message="tns:IService1_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPizza">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPizza" message="tns:IService1_GetAllPizza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPizzaResponse" message="tns:IService1_GetAllPizza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneDrink">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneDrink" message="tns:IService1_GetOneDrink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneDrinkResponse" message="tns:IService1_GetOneDrink_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFive">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/IService1/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPizza">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPizza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneDrink">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneDrink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HalloWCF.Host/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>