HalloWCF.Host/HalloWCF.ProxyClient/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HalloWCF.Host" />
  <xs:element name="GetFive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFiveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPizza">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HalloWCF.Host" minOccurs="0" name="GetAllPizzaResult" nillable="true" type="q1:ArrayOfPizza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneDrink">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneDrinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HalloWCF.Host" minOccurs="0" name="GetOneDrinkResult" nillable="true" type="q2:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>